<div class="aspect item" data-item-id="{{id}}">
  <h3 class="light handle">
    {{name}}
    <small class="black">Bloodline</small>
  </h3>
  {{> "systems/wildsea/templates/shared/track.hbs" system.track}}
  <p>Your sheddings have mild psychotropic properties. Mark to create a rare resource, <em>Hallucinogenic Spores</em>.</p>
</div>
