<div id="aspects" class="flex0">
  <h2 class="corners dark">
    {{title}}
    <a class="addItem" data-item-type="{{type}}">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <div class="flexcol item-list spaced">
    {{#if (any aspects)}}
    {{#each aspects as |aspect|}}
      {{> "systems/wildsea/templates/sheets/player/aspect.hbs" aspect}}
    {{/each}}
    {{else}}
    <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    {{/if}}
  </div>
</div>
