<div class="aspect item" data-item-id="{{id}}">
  <h3 class="light handle">
    <span class="itemContextMenu">{{name}}</span>
    <small class="black">{{system.type}}</small>
  </h3>
  {{> "systems/wildsea/templates/shared/track.hbs" system.track id=id}}
  {{{system.enrichedDetails}}}
</div>
