<div id="drives" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.drives"}}
    <a class="addItem" data-item-type="drive">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
</div>
