<div id="edges" class="flex0">
  <h2 class="corners dark">{{localize "wildsea.edges"}}</h2>
  <div class="bordered flexcol spaced">
    <div class="flexrow spaced wide">
      {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
      {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
      {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    </div>
    <div class="flexrow spaced wide">
      {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
      {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
      {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    </div>
    <div class="flexrow spaced wide">
      {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
      <div class=""></div>
      <div class=""></div>
    </div>
  </div>
</div>
