<div id="edges" class="flex0">
  <h2 class="corners dark">{{localize "wildsea.edges"}}</h2>
  <div class="bordered flexrow spaced">
    {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
    {{> "systems/wildsea/templates/sheets/player/edge.hbs"}}
  </div>
</div>
