<div id="edges" class="flex0">
  <h2 class="wildsea-cut-corners wildsea-bg-dark">{{localize "wildsea.edges"}}</h2>
  <div class="wildsea-section-body">
    {{#each edgesList as |row|}}
      <div class="flexrow wildsea-gapped wide">
        {{#each row as |edge|}}
          {{#if edge}}
            {{> "systems/the-wildsea/templates/sheets/player/list_track.hbs"
              name=(localize (concat "wildsea." edge))
              value=(byKey @root.system.edges edge)
              max=1
              id=edge
              type="edge"}}
          {{else}}
            <div class=""></div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}
  </div>
</div>
