<div class="flexrow list-track">
  <label>
    <a class="roll" data-type="{{type}}" data-value="{{id}}">{{name}}</a>
  </label>
  <div class="flex0">
    {{> "systems/wildsea/templates/shared/track.hbs" max=max value=value type=type}}
  </div>
</div>
