<div id="milestones" class="flex0">
  <h2 class="corners dark">{{localize "wildsea.milestones"}}</h2>
  <div class="flexrow spaced">
    <div>
      <h3 class="corners mid">{{localize "wildsea.major"}}</h3>
      <div class="bordered">
        <p>Lorem ipsum</p>
      </div>
    </div>
    <div>
      <h3 class="corners mid">{{localize "wildsea.minor"}}</h3>
      <div class="bordered">
        <p>Lorem ipsum</p>
      </div>
    </div>
  </div>
</div>
