<div id="mires" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.mires"}}
    <a class="addItem" data-item-type="mire">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <div class="flexcol spaced item-list">
    {{#if (any system.mires)}}
      {{#each system.mires as |mire id|}}
        {{log mire}}
        {{> "systems/wildsea/templates/sheets/player/mire.hbs" mire id=id}}
      {{/each}}
    {{else}}
      <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    {{/if}}
  </div>
</div>
