<div class="mire flexrow item handle" data-item-id="">
  <div>
    <p>Mire description goes here</p>
  </div>
  <div class="flex0">
    {{> "systems/wildsea/templates/shared/track.hbs" max=2 value=0}}
  </div>
</div>
