<div id="resources" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.resources"}}
    <a class="addItem" data-item-type="resource">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  <div class="flexcol spaced item-list">
    {{#if (any system.resources)}}
      {{#each system.resources as |resource|}}
        {{> "systems/wildsea/templates/sheets/player/resource.hbs" resource}}
      {{/each}}
    {{else}}
      <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    {{/if}}
  </div>
</div>
