<div class="wildsea-padded wildsea-rounded wildsea-border-thin item" data-item-id="{{id}}">
  <h3 class="itemContextMenu">
    {{name}}
    {{#if system.type}}
      <small class="wildsea-text-light">{{localize (concat "wildsea." system.type)}}</small>
    {{/if}}
  </h3>
  {{#if (any system.tags)}}
    <div class="wildsea-detail-drawer {{#if system.collapsed}}hidden{{/if}}">
      <p>{{system.tags}}</p>
    </div>
  {{/if}}
</div>
