<div id="skills" class="flex0">
  <h2 class="wildsea-cut-corners wildsea-bg-dark">{{localize "wildsea.skills"}}</h2>
  <div class="wildsea-section-body">

    {{#each skillsList as |row|}}
      <div class="flexrow wildsea-gapped wide">
        {{#each row as |skill|}}
          {{#if skill}}
            {{> "systems/the-wildsea/templates/sheets/player/list_track.hbs"
              name=(localize (concat "wildsea." skill))
              value=(byKey @root.system.skills skill)
              max=3
              id=skill
              type="skill"}}
          {{else}}
            <div class=""></div>
          {{/if}}
        {{/each}}
      </div>
    {{/each}}

  </div>
</div>
