<div id="conditions" class="flex0">
  <h2 class="wildsea-cut-corners wildsea-bg-dark">
    {{localize "wildsea.conditions"}}
    <a class="wildsea-add-button" data-action="addItem" data-item-type="conditions">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  {{#if (any system.conditions)}}
    <div class="flexcol wildsea-compact-list wildsea-gapped">
      {{#each system.conditions as |condition|}}
        {{> "systems/the-wildsea/templates/shared/slim_item.hbs" condition type="conditions"}}
      {{/each}}
    </div>
  {{else}}
    <p class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">{{localize "wildsea.none"}}</p>
  {{/if}}
</div>
