<div class="item" data-item-id="{{id}}">
  <h4 class="no-margin">
    <span class="itemContextMenu">{{name}}</span>
    <small class="text-light">{{system.stakes}}-stakes</small>
  </h4>
  <div class="drawer {{#if system.collapsed}}hidden{{/if}}">
    {{{system.enrichedDetails}}}
  </div>
</div>
