<div id="fittings" class="flex0">
  <h2 class="corners dark">Fittings</h2>
  <div class="flexcol item-list spaced">
    {{#if (any system.fittings)}}
      {{#each system.fittings as |fitting|}}
        {{> "systems/wildsea/templates/shared/aspect.hbs" fitting id=fitting.id type="fittings"}}
      {{/each}}
    {{else}}
      <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    {{/if}}
  </div>
</div>
