<div class="flexrow wildsea-cut-corners">
  <div class="wildsea-bg-mid wildsea-rating-cell">
    <a class="ratingRoll wildsea-title-font wildsea-uppercase wildsea-text-lg" data-action="ratingRoll" data-rating="{{rating}}">
      {{localize (concat "wildsea." rating)}}
    </a>
  </div>
  <div class="flex2 wildsea-bg-muted">
    {{> "systems/the-wildsea/templates/shared/track.hbs" track id=rating type="rating" cssClass="wildsea-padded"}}
  </div>
</div>
