<div class="flexrow corners">
  <div class="mid rating">
    <span class="title uppercase text-lg">{{localize (concat "wildsea." rating)}}</span>
  </div>
  <div class="flex2 light-transparent">
    {{> "systems/wildsea/templates/shared/track.hbs" track id=rating type="rating" cssClass="padded"}}
  </div>
</div>
