<div class="wildsea">
  <h3>{{title}}</h3>
  {{#if track}}
    <ul class="track">
    {{#times track.max}}
      {{{trackCell @index ../track.value ../track.burn}}}
    {{/times}}
    </ul>
  {{/if}}
  <p>{{text}}</p>
</div>
