<form class="wildsea">
  {{> "systems/the-wildsea/templates/shared/select_field.hbs" field="rating" label="wildsea.rating" value=rating includeEmpty=true selectOptions=config.shipRatings}}
  {{> "systems/the-wildsea/templates/shared/number_field.hbs" field="value" label="wildsea.modifier" value=value placeholder="0"}}
</form>
