<div id="aspects" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.aspects"}}
    <a class="addItem" data-item-type="aspect">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
    {{#if (any aspects)}}
      <div class = "flexcol item-list spaced">
        {{#each aspects as |aspect|}}
          {{> "systems/wildsea/templates/shared/attribute.hbs" aspect id=aspect.id}}
        {{/each}}
      </div>
    {{else}}
      <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
    {{/if}}
</div>
