<div id="quirks" class="flex0">
  <h2 class="wildsea-cut-corners wildsea-bg-dark">
    {{localize "wildsea.quirks"}}
    <a class="wildsea-add-button" data-action="addItem" data-item-type="quirk">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
    {{#if (any quirks)}}
      <div class="flexcol item-list wildsea-gapped">
        {{#each quirks as |quirk|}}
          {{> "systems/the-wildsea/templates/shared/attribute.hbs" quirk id=quirk.id}}
        {{/each}}
      </div>
    {{else}}
      <p class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">{{localize "wildsea.none"}}</p>
    {{/if}}
</div>
