<div id="resources" class="flex0">
  <h2 class="corners dark">
    {{localize "wildsea.resources"}}
    <a class="addItem" data-item-type="resource">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  {{#if (any system.resources)}}
    <div class="flexcol spaced item-list">
      {{#each system.resources as |resource|}}
        {{> "systems/wildsea/templates/sheets/player/resource.hbs" resource}}
      {{/each}}
    </div>
  {{else}}
    <p class="center corners light-transparent padded">{{localize "wildsea.none"}}</p>
  {{/if}}
</div>
