<div id="resources" class="flex0">
  <h2 class="wildsea-cut-corners wildsea-bg-dark">
    {{localize "wildsea.resources"}}
    <a class="wildsea-add-button" data-action="addItem" data-item-type="resource">
      <i class="fas fa-plus"></i>
    </a>
  </h2>
  {{#if (any system.resources)}}
    <div class="flexcol wildsea-gapped item-list">
      {{#each system.resources as |resource|}}
        {{> "systems/the-wildsea/templates/sheets/player/resource.hbs" resource}}
      {{/each}}
    </div>
  {{else}}
    <p class="center wildsea-cut-corners wildsea-bg-muted wildsea-padded">{{localize "wildsea.none"}}</p>
  {{/if}}
</div>
