<section class="description-editor">
  <div class="description {{#if short}}short{{/if}}">
    {{editor content target=target button=true owner=owner editable=editable engine="prosemirror"}}
  </div>
</section>
