<section class="wildsea-editor-section">
  <div class="wildsea-editor-frame {{#if short}}wildsea-editor-compact{{/if}}">
    {{editor content target=target button=true owner=owner editable=editable engine="prosemirror"}}
  </div>
</section>
