<section class="wildsea-editor-section">
  <div class="wildsea-editor-frame {{#if short}}wildsea-editor-compact{{/if}}">
    {{#if editable}}
    <prose-mirror name="{{target}}" toggled>{{{content}}}</prose-mirror>
    {{else}}
    {{{content}}}
    {{/if}}
  </div>
</section>
