<ul class="track" data-item-id="{{id}}">
  {{#times max}}
    <li class="box {{#if (gte ../value @index)}}checked{{/if}}">
      <a class="dot" data-index="{{@index}}"></a>
    </li>
  {{/times}}
</ul>
