{{#if (gt max 0)}}
<a data-tooltip='Click: Update Marks, Shift Click: Update Burn'>
  <ul class="track {{cssClass}}" data-item-id="{{id}}" data-item-type="{{type}}">
    {{#times max}}
      {{#trackCell @index ../value ../burn}}
      {{/trackCell}}
    {{/times}}
  </ul>
</a>
{{/if}}
