@font-face {
  font-family: 'Teko';
  src: url(fonts/Teko/Teko-VariableFont_wght.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Regular.ttf);
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Italic.ttf);
  font-style: italic;
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-Bold.ttf);
  font-weight: 700;
}
@font-face {
  font-family: 'Merriweather';
  src: url(fonts/Merriweather/Merriweather-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
}
a:hover,
#context-menu li.context-item:hover {
  text-shadow: 0 0 8px #858778;
}
.window-app .window-content {
  background: #f9f9f9;
}
.flexrow.spaced {
  column-gap: 0.5rem;
}
.flexrow.spaced.wide {
  column-gap: 1rem;
}
.flexcol.spaced.spaced {
  row-gap: 0.5rem;
}
.flexcol.spaced.spaced.wide {
  row-gap: 1rem;
}
.flex0 {
  flex: 0;
}
.flex {
  display: flex !important;
}
.dialog .dialog-buttons button {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}
button:hover,
button:focus,
input[type='text']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='time']:focus,
input[type='search']:focus {
  box-shadow: 0 0 5px #626256;
}
.dialog .dialog-buttons button {
  border: 1px solid #2e2c20 !important;
  background: #e2e2df;
}
.dialog .dialog-buttons button.default {
  background: #858778;
  color: #f9f9f9;
}
.window-app .window-header {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
}
.dialog-content {
  font-family: 'Merriweather', serif;
}
.dialog-content label {
  font-variant: small-caps;
}
.dialog-content h4 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
}
.dialog-content p {
  font-size: 0.8rem;
}
.dialog-content input[type='text'],
.dialog-content input[type='number'],
.dialog-content input[type='password'],
.dialog-content input[type='date'],
.dialog-content input[type='time'],
.dialog-content input[type='search'] {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  border: none;
  background: #e2e2df;
  padding: 0 0.5rem;
}
.dialog-content input[type='text']:focus,
.dialog-content input[type='number']:focus,
.dialog-content input[type='password']:focus,
.dialog-content input[type='date']:focus,
.dialog-content input[type='time']:focus,
.dialog-content input[type='search']:focus {
  box-shadow: none;
}
.chat-message {
  background: #f9f9f9;
}
.chat-message .message-header {
  column-gap: 0.25rem;
  margin-bottom: 0.25rem;
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  line-height: 1.1rem;
}
.chat-message .message-header .message-sender {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  background: #858778;
  color: #f9f9f9;
  padding: 0.5rem 0.5rem 0;
  text-transform: uppercase;
}
.chat-message .message-header .message-metadata {
  padding: 0.5rem 0 0;
}
.chat-message .message-content {
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
}
.chat-message.ic .message-header .message-sender {
  background: #626256;
}
.chat-message.whisper {
  background: #e2e2df;
}
.chat-message.whisper .message-header .message-sender {
  background: #2e2c20;
}
.dice-roll .dice-formula,
.dice-roll .dice-total {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
  background: #e2e2df;
  border: none;
  box-shadow: none;
}
form.wildsea {
  margin-bottom: 0.5rem;
}
.wildsea {
  font-family: 'Merriweather', serif;
  font-size: 0.8rem;
  background: #f9f9f9;
  color: #2d2a2b;
}
.wildsea #context-menu {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  text-transform: initial;
  font-weight: 500;
}
.wildsea .hidden {
  display: none;
}
.wildsea h1,
.wildsea h2,
.wildsea h3,
.wildsea h4,
.wildsea h5 {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  border-bottom: none;
  margin: 0 0 0.25rem;
  padding: 0;
  font-weight: 600;
  position: relative;
}
.wildsea h1 a.addItem,
.wildsea h2 a.addItem,
.wildsea h3 a.addItem,
.wildsea h4 a.addItem,
.wildsea h5 a.addItem {
  position: absolute;
  right: 0.5rem;
  top: 0.25rem;
  font-size: 1rem;
}
.wildsea h1.corners,
.wildsea h2.corners,
.wildsea h3.corners,
.wildsea h4.corners,
.wildsea h5.corners {
  padding: 0.5rem 0.5rem 0;
}
.wildsea h1 small,
.wildsea h2 small,
.wildsea h3 small,
.wildsea h4 small,
.wildsea h5 small {
  font-size: 0.8em;
  text-transform: initial;
}
.wildsea h2 {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
.wildsea h3 {
  font-size: 1.3rem;
  line-height: 1.3rem;
  text-transform: initial;
}
.wildsea h4 {
  font-size: 1.1rem;
  line-height: 1.1rem;
  text-transform: initial;
}
.wildsea .black {
  color: #2d2a2b;
}
.wildsea .text-dark {
  color: #2e2c20;
}
.wildsea .text-mid {
  color: #626256;
}
.wildsea .text-light {
  color: #858778;
}
.wildsea .text-light-transparent {
  color: #e2e2df;
}
.wildsea .img {
  text-align: center;
  min-width: 60px;
}
.wildsea .img img {
  max-width: 100%;
  height: auto;
  border: none;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  background: #858778;
}
.wildsea label {
  font-weight: bold;
  font-variant: small-caps;
}
.wildsea input,
.wildsea select {
  border: none;
  background: #e2e2df;
  text-transform: initial;
  padding: 0 0.5rem;
  border-radius: 0;
}
.wildsea select {
  padding: 0 0.25rem;
}
.wildsea #name {
  font-family: 'Teko', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0.4rem 0.5rem 0;
  height: 64px;
  font-size: 48px;
  text-transform: initial;
}
.wildsea .description {
  --editor-height: 8rem;
  flex: 1;
  display: flex;
  min-height: var(--editor-height);
  border: 1px solid #858778;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
.wildsea .description .editor {
  min-height: var(--editor-height);
  width: 100%;
}
.wildsea .description .editor .editor-content {
  min-height: var(--editor-height);
}
.wildsea .description .editor .tox.tox-tinymce {
  min-height: var(--editor-height);
}
.wildsea .description.short {
  --editor-height: calc(8rem / 2);
}
.wildsea .center {
  text-align: center;
}
.wildsea .handle {
  cursor: grab;
}
.wildsea .corners {
  clip-path: polygon(0 0.5rem, 0.5rem 0, 100% 0, 100% calc(100% - 1rem), calc(100% - 1.5rem) 100%, 0 100%);
}
.wildsea .rounded {
  border-radius: 0.5rem;
}
.wildsea .border-slim {
  border: 1px solid #858778;
}
.wildsea .border-slim.padded {
  padding: calc(0.5rem - 0.5px);
}
.wildsea .dark {
  background: #2e2c20;
  color: #f9f9f9;
}
.wildsea .mid {
  background: #626256;
  color: #f9f9f9;
}
.wildsea .light {
  background: #858778;
  color: #f9f9f9;
}
.wildsea .light-transparent {
  background: #e2e2df;
}
.wildsea .padded {
  padding: 0.5rem;
}
.wildsea .list-track {
  margin-bottom: 0.25rem;
}
.wildsea ul.track {
  display: flex;
  flex-direction: row;
  flex: 0;
  column-gap: 0.1rem;
  position: relative;
  margin: 0;
  padding: 0;
}
.wildsea ul.track li {
  display: block;
  width: 1rem;
  height: 1rem;
  margin: 0;
  padding: 0;
  border-radius: 50%;
  border: 1px solid #626256;
  position: relative;
}
.wildsea ul.track li .dot {
  position: absolute;
  background: #f9f9f9;
  width: calc(100% - 3px);
  height: calc(100% - 3px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5px solid #626256;
  border-radius: 50%;
  display: block;
}
.wildsea ul.track li.checked .dot {
  background: #626256;
}
.wildsea .mire {
  border-radius: 0 2rem 2rem 0;
  border: 2px solid #858778;
  padding: 0.25rem 0.5rem;
  position: relative;
}
.wildsea .mire .track {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  transform: translateY(-50%);
}
.wildsea .bordered {
  border: 2px solid #626256;
  border-radius: 1rem;
  padding: 0.75rem 0.5rem 0.5rem;
  margin: -0.75rem 0 0;
  min-height: 3rem;
}
.wildsea h3 + .bordered {
  border-color: #858778;
}
.wildsea .aspect {
  border: 2px solid #858778;
  border-radius: 0 1rem 1rem 0;
}
.wildsea .aspect h3 {
  padding: 0.5rem 0.5rem 0;
  border-radius: 0 calc(1rem - 2px) 0 0;
}
.wildsea .aspect .track {
  margin: 0.5rem;
}
.wildsea .aspect p {
  margin: 0.5rem;
}
.wildsea .drawer {
  margin-top: 0.5rem;
}
.wildsea .drawer p {
  margin-top: 0;
}
.wildsea #resources .item h3 {
  margin-bottom: 0;
}
